@import 'styles/common';

.container {
  background-color: $halfWhite;
  min-height: 98.5vh;
  height: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.variantSelector {
  all: unset;
  position: absolute;
  top: 1rem;
  left: 1rem;
  max-width: 100px;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  background-color: $halfWhite;
  box-shadow: 0 0 20px $lightGray;
  cursor: pointer;

  &:hover {
    background-color: $white;
    box-shadow: 0 0 10px $lightGray;
  }
}

.content {
  @extend .flexCenter;
  height: 100%;
  min-height: 98.5vh;
}
