@import 'styles/common';

.btn {
  all: unset;
  padding: 0.25rem 1rem;
  border-radius: 8px;
  color: white;
  background-color: $primaryBlue;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }
}
