$white: #fff;
$black: #000;

$halfWhite: #f9f9f9;
$lightGray: #666;
$veryLightGray: #e2e2ed;
$secondaryGray: #7780a1;
$paleGrayishBlue: #f2f3f6;
$lightBlueGray: #bbc0d0;
$deepBlueGray: #1b1b27;

$darkBg: #060606;

$primaryBlue: #2a27c9;
$lightRed: #f32400;
$red: red;

$veryPaleBlue: rgba(0, 118, 255, 0.1);
$primaryLightShade: rgba(42, 39, 201, 0.1);
$primaryDarkShade: rgba(81, 76, 255, 0.15);
$primaryBoxShadow: rgba(0, 72, 255, 0.206);
$blueBoxShadowHover: rgb(0 118 255 / 23%);
$paleBlueBoxShadow: rgba(11, 65, 126, 0.15);
$paleBlueBoxShadowHover: rgba(11, 65, 126, 0.15);
$lightRedBoxShadow: #f3240092;
$lightRedBoxShadowHover: #f3240080;

// transparent colorspace
$tWhite: rgba(255, 255, 255, 0.1);
$tBlack: rgba(0, 0, 0, 0.1);
$black50: rgba(0, 0, 0, 0.5);
$tHalfWhite: rgba(255, 255, 255, 0.5);

$primaryGradient: linear-gradient(104.42deg, #4745d0 0%, #2a27c9 60.23%);

$ctaDarkShade: linear-gradient(
    188.08deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 93.79%
  ),
  #060714;
