$white: #fff;
$black: #000;

$halfWhite: #f9f9f9;
$lightGray: #666;
$veryLightGray: #e2e2ed;
$secondaryGray: #7780a1;

$darkBg: #060606;

$primaryBlue: #2a27c9;
$lightRed: #f32400;
$red: red;

$veryPaleBlue: rgba(0, 118, 255, 0.1);
$blueBoxShadow: rgb(0 118 255 / 39%);
$blueBoxShadowHover: rgb(0 118 255 / 23%);
$paleBlueBoxShadow: rgba(11, 65, 126, 0.15);
$paleBlueBoxShadowHover: rgba(11, 65, 126, 0.15);
$lightRedBoxShadow: #f3240092;
$lightRedBoxShadowHover: #f3240080;

// transparent colorspace
$tWhite: rgba(255, 255, 255, 0.1);
$tBlack: rgba(0, 0, 0, 0.1);
$black50: rgba(0, 0, 0, 0.5);
$tHalfWhite: rgba(255, 255, 255, 0.5);

$primaryGradient: linear-gradient(104.42deg, #4745d0 0%, #2a27c9 60.23%);
$mutedBlueShade: #7780a1;
