$white: #fff;
$black: #000;

$halfWhite: #f9f9f9;
$lightGray: #666;
$veryLightGray: #999;

$primaryBlue: #0090f3;
$linkHover: #0af;
$lightRed: #f32400;
$red: red;

$veryPaleBlue: rgba(0, 118, 255, 0.1);
$blueBoxShadow: rgb(0 118 255 / 39%);
$blueBoxShadowHover: rgb(0 118 255 / 23%);
$paleBlueBoxShadow: rgba(11, 65, 126, 0.15);
$paleBlueBoxShadowHover: rgba(11, 65, 126, 0.15);
$lightRedBoxShadow: #f3240092;
$lightRedBoxShadowHover: #f3240080;

// transparent colorspace
$tWhite: rgba(255, 255, 255, 0.1);
$tBlack: rgba(0, 0, 0, 0.1);
$tHalfWhite: rgba(255, 255, 255, 0.5);
