@import 'styles/common';

.container {
  @extend .flexCenter;

  img {
    width: 110vw !important;
    scale: 1.1;
    animation: zigZag 1s ease-in-out infinite alternate;
  }
}

@keyframes zigZag {
  0% {
    translate: 0 0;
  }

  100% {
    translate: 1% 0;
  }
}
