@import 'styles/common';

.font {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}

.container {
  @extend .spaceBetween;
  max-width: 540px;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $white;
  box-shadow: 0px 12px 45px $tBlack;
  position: relative;
}

.inputBox {
  width: 80%;

  input {
    @extend .clearStyles, .font;
    width: 100%;
    padding: 0.15rem;
    color: $black;
    border-right: 2px solid $veryLightGray;

    &::-webkit-input-placeholder,
    &::-moz-placeholder {
      color: $secondaryGray;
    }
  }
}

.iconBox {
  @extend .clearStyles, .flexCenter, .font;
  padding: 0.5rem;
  color: $primaryBlue;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: $veryPaleBlue;
  }
}
