@import 'styles/common';

.container {
  @extend .spaceBetween;
  gap: 1rem;
  width: 100%;
  max-width: 1400px;
  padding: 1rem;
  margin: 3rem auto;
}

.card {
  @extend .spaceBetween;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  width: calc(33% - 1rem);
  max-width: 468px;
  height: 868px;
  border: 1px solid $veryLightGray;
  border-radius: 12px;

  &.black {
    background-color: $darkNavyBlue;

    h2 {
      color: $white;
    }
  }

  h2 {
    font-size: 1.5rem;
    color: $darkNavyBlue;
  }

  button {
    width: 100%;
  }
}

.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.textBox {
  @extend .flexCenterCol;
  gap: 1rem;
}

.dark {
  .card {
    border-color: $secondaryGray;

    h2 {
      color: $white;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 0;
  }

  .card {
    width: 100%;
    height: 720px;
    border-right: unset;
    border-left: unset;
    padding: 1rem;
  }
}
