@import 'styles/common';

.container {
  @extend .spaceBetween;
  gap: 3rem;
  width: 100%;
  max-width: 1400px;
  margin: 2rem auto;
  padding: 2rem;
}

.swap {
  .right {
    order: 0;
  }

  .left {
    order: 1;
  }
}

.left {
  @extend .spaceBetween;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  width: 50%;

  h1 {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 1;
  }
}

.keypoints,
.btnBox {
  @extend .flexStart;
  gap: 2rem;
}

.item {
  @extend .flexColStart;
  gap: 0.25rem;

  h5 {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 25px;
  }
}

.dark {
  h1,
  h5 {
    color: $white;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .container {
    padding: 1rem;
  }

  .left {
    h1 {
      font-size: 3rem;
    }
  }

  .btnBox {
    gap: 0.5rem;
  }
}
