@import 'styles/common';

.container {
  @extend .spaceBetween;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  max-width: 1000px;
  margin: 4rem auto;
  padding: 1rem;
}

.item {
  @extend .spaceBetween;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 12px;
  transition: box-shadow 0.25s ease-in-out;

  &:hover {
    box-shadow: 0 0 45px $tBlack;
  }

  h4 {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 115%;
  }

  span {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 150%;
    color: $secondaryGray;
  }
}

.dark {
  .item:hover {
    box-shadow: 0 0 45px $tWhite;
  }

  h4 {
    color: $white;
  }
}

@media (max-width: 450px) {
  .container {
    justify-content: center;
  }
}
